<div class="category-contant">
    <ul>
        <li><a class="no-brd" [routerLink]="['/home/products/all']">Show All</a></li>
        <li><a [routerLink]="['/home/products/Alimentaire']">Alimentaire</a></li>
        <li><a [routerLink]="['/home/products/Electromenager']">Electromenager</a></li>
        <li><a [routerLink]="['/home/products/cosmetique']">Cosmetique</a></li>
        <li><a [routerLink]="['/home/products/hygiene']">Hygiene</a></li>
        <li><a [routerLink]="['/home/products/nettoyage']">Nettoyage</a></li>
        <li><a [routerLink]="['/home/products/divertissement']">divertissement</a></li>
        <li><a [routerLink]="['/home/products/textil']">Textil</a></li>
        <li><a [routerLink]="['/home/products/decoration']">Decoration</a></li>
        <li><a [routerLink]="['/home/products/electronique']">Electronique</a></li>
        <li><a [routerLink]="['/home/products/cuisine']">Cuisine</a></li>
        <li><a [routerLink]="['/home/products/autre']">Autre</a></li>
    </ul>
</div>

<!--	Alimentaire, Electromenager, cosmetique, hygiene, nettoyage , divertissement , textil , decoration , electronique ,cuisine , autre-->